In [8]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')
    f.write('NA,Pave,127500\n')
    f.write('2,NA,106000\n')
    f.write('4,Korbinianplatz,178100\n')
    f.write('NA,NA,140000\n')

In [9]:
import pandas as pd

data = pd.read_csv(data_file)
print(data, type(data))

   NumRooms           Alley   Price
0       NaN            Pave  127500
1       2.0             NaN  106000
2       4.0  Korbinianplatz  178100
3       NaN             NaN  140000 <class 'pandas.core.frame.DataFrame'>

In [10]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
inputs = inputs.fillna(inputs.mean(axis=0))
inputs

   NumRooms           Alley
0       3.0            Pave
1       2.0             NaN
2       4.0  Korbinianplatz
3       3.0             NaN

In [11]:
inputs = pd.get_dummies(inputs, dummy_na=True)
inputs

   NumRooms  Alley_Korbinianplatz  Alley_Pave  Alley_nan
0       3.0                     0           1          0
1       2.0                     0           0          1
2       4.0                     1           0          0
3       3.0                     0           0          1

In [18]:
import torch

X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)

torch.float32 torch.float32